th,
td {
  height: 50px;
  width: 350px;
  text-align: left;
}

th {
  background-color: rgb(80, 159, 70);
  color: white;
}

table {
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;
}

table.alternate tr:nth-child(even) {
  background-color: rgb(219, 218, 218);
}
