.container {
  margin: 50px 200px 0px 200px;
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 30%;
  height: 600px;
  background-color: rgb(220, 220, 29);
  padding-top: 80px;
}

.letter {
  width: 70%;
  height: auto;
  background-color: rgb(220, 220, 29);
}

.content {
  padding: 30px 30px 30px 30px;
  text-align: left;
}

.line {
  width: 90%;
  height: 0px;
  border: 1px dotted black;
  margin-bottom: 50px;
}

.closing {
  padding: 0px 30px 30px 30px;
}

h1 {
  position: relative;
  left: 150px;
}

.home,
.musings,
.mytown,
.links {
  height: 40px;
  width: 200px;
  background: linear-gradient(
    to right,
    white 0%,
    white 90%,
    black 90%,
    black 100%
  );
  margin: auto;
  position: absolute;
  left: 275px;
  text-align: center;
  padding-top: 15px;
}

.musings {
  top: 195px;
}

.mytown {
  top: 260px;
}

.links {
  top: 325px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.home:hover,
.musings:hover,
.mytown:hover,
.links:hover {
  background: linear-gradient(
    to right,
    black 0%,
    black 90%,
    white 90%,
    white 100%
  );
  a {
    color: white;
  }
}
