body {
  background-color: rgb(186, 19, 100);
  color: white;
  font-size: 25px;
}

.form {
  width: 600px;
  height: 100%;
  background-color: rgb(85, 3, 45);
  position: relative;
  left: 400px;
  padding: 100px 100px 100px 100px;
}

input {
  height: 30px;
  width: 300px;
  position: absolute;
  left: 300px;
}

#radio {
  width: 20px;
  position: relative;
  left: 0px;
  top: 6px;
}

select {
  position: relative;
  left: 65px;
  width: 310px;
  height: 35px;
}

textarea {
  position: relative;
  width: 300px;
  left: 115px;
  top: 15px;
}

#register {
  width: 600px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
}
